*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

header {
    text-align: center;
}

pre {
    overflow-x: auto;
}

a, code {
    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.post {
    margin: 50px 0px;
}

.post > .date {
    font-style: italic;
}

#content {
    max-width: 700px;
    margin: auto;
    padding: 0px 10px;
}
